<header class="header">
    <section class="header__menu">
        <nav class="menuDesktop">
            <ul>
                <li><a href="https://adalab.es">Productos</a></li>
                <li><a href=""></a>Colecciones</li>
                <li><a href=""></a>Tienda</li>
                <li><a href=""></a>Espacio</li>
            </ul>
        </nav>
        <a class="menuIcon" href="https://adalab.es" title="https://adalab.es"> <i class="fas fa-bars"></i></a>
        <img class="imageHeader" src="./assets/images/logo.png" alt="">
        </div>
    </section>

    <h1 class="header__title">Disfruta creando espacios</h1>
    <button class="header__button"><a class="button-a" href="#">Comprar ahora</a></button>



</header>