<header class="header">
    <section class="menu">
        <nav class="menu__desktop">
            <ul>
                <li><a href="https://adalab.es">Productos</a></li>
                <li><a href=""></a>Colecciones</li>
                <li><a href=""></a>Tienda</li>
                <li><a href=""></a>Espacio</li>
            </ul>
        </nav>
        <a class="menu__icon" href="https://adalab.es" title="https://adalab.es"> <i class="fas fa-bars"></i></a>
        <img class="menu__image" src="./assets/images/logo.png" alt="Imagen flor Open Spaces">
        </div>
    </section>
    <section class="space">
        <h1 class="space__title">Disfruta creando espacios</h1>
        <button class="space__button"><a class="button-a" href="#">Comprar ahora</a></button>
    </section>



</header>