<header class="header" id="header">
    <nav class="header__menu">
        <ul class="menu__desktop">
            <li><a href="#" title="Productos">Productos</a></li>
            <li><a href="#" title="Colecciones">Colecciones</a></li>
            <li><a href="#" title="Tienda">Tienda</a></li>
            <li><a href="#" title="Inicio">Inicio</a></li>
        </ul>
    </nav>
    <a class="header__icon" href="https://adalab.es" title="https://adalab.es"> <i class="fas fa-bars"></i></a>
    <div class="header__image">
        <img class="imagelogo" src="./assets/images/logo.png" alt="Imagen flor Open Spaces">
    </div>
    <section class="space">
        <h1 class="space__title">Disfruta creando espacios</h1>
        <button class="space__button"><a class="button-a" href="#">Comprar ahora</a></button>
    </section>



</header>