<main>
    <section>
        <h2>Volverse organizado se siente mejor con OPEN SPACES</h2>
        <article>
            <div><img src="" alt=""></div>
            <h3>Lo que necesitas</h3>
            <p>Una línea de productos diseñados para todos tus espacios</p>
        </article>
        <article>
            <div><img src="" alt=""></div>
            <h3>Materia primas sustentables</h3>
            <p>Todos los productos con materias primas sustentables</p>
        </article>
        <article>
            <div><img src="" alt=""></div>
            <h3>Guía</h3>
            <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
        </article>
    </section>
    <section>
        <div>
            <img src="" alt="">
        </div>
        <h2>Envío gratis garantizado</h2>
        <p>Envñio gratis en compras desde 100</p>
        <button>Comprar ahora</button>
    </section>
    <section>
        <h2>Disfruta creando espacios</h2>
        <p>Una línea de productos diseñados para todos tus espacios</p>
        <button>Comprar ahora</button>
        <div>
            <img src="" alt="">
        </div>

    </section>

</main>