<main>
    <section class="open">
        <h2 class="open__title">Volverse organizado se siente mejor con open spaces</h2>
        <include class="open__article1" src="./articles.html" srcImage="./assets/images/icon_1.png"
            classImage="imgArticle" alt="imagen de una mesa con una planta" title="Lo que necesitas"
            classTitle="h3article" parragraph="Una línea de productos diseñados para todos tus espacios"
            classParragraph="pArticle"></include>
        <include class="open__article2" src="./articles.html" srcImage="./assets/images/icon_2.png"
            classImage="imgArticle" alt="Imagen de una bolsa de reciclaje" title="Materia primas sustentables"
            classTitle="h3article" parragraph="Todos los productos con materias primas sustentables"
            classParragraph="pArticle"></include>
        <include class="open__article3" src="./articles.html" srcImage="./assets/images/icon_3.png"
            classImage="imgArticle" alt="Imagen de un cartel" title="Guía" classTitle="h3article"
            parragraph="Soporte y asesoramiento para ayudarte con tu objetivo" classParragraph="pArticle">
        </include>
    </section>

    <section class="send">
        <div class="send__image">
            <img src="./assets/images/icon_4.png" alt="Imagen camión">
        </div>
        <h2 class="send__title">Envío gratis garantizado</h2>
        <p class="send__parragraph">Envío gratis en compras desde 100</p>
        <a href="" class="send__link">Comprar ahora</a>
    </section>
    <section class="enjoy">
        <article class="enjoy__article">
            <h2>Disfruta creando espacios</h2>
            <p class="enjoy-parragraph">Una línea de productos diseñados para todos tus espacios</p>
            <button class="article-button"><a class="enjoy-a" href="#">Comprar ahora</a></button>
        </article>
        <div class="enjoy__image">
            <img class="image-bath" src="./assets/images/creando-espacios.jpg" alt="Imagen de un baño">
        </div>
    </section>
</main>